# Игнорирование специфичных файлов IDE
.vscode/

# Игнорируются все ненужные файлы с расширением
*.docx
*.log

# Игнорируется каталоги
tmp/
Lib/
Scripts/

# Игнорируются файл от Нетологии
github_netology_oop2_students_and_mentor.py

# Игнорируются непонятный файл конфигурации
pyvenv.cfg
